.sponsorship-hero {
  position: relative;
  width: 100%;
  height: 30vh;
  max-height: 250px;
  overflow: hidden;
}

.sponsorship-hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sponsorship-back-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 20;
  backdrop-filter: blur(8px);
  border-radius: 99px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.3);
}

@media (min-width: 769px) {
  .sponsorship-hero {
    position: fixed;
    top: 0;
    left: 0;
    width: 40vw;
    height: 100vh;
    max-height: none;
  }

  .sponsorship-back-button {
    position: fixed;
    top: 4.5rem;
    left: 1rem;
    z-index: 60;
  }
}

@media (max-width: 768px) {
  .sponsorship-hero {
    height: 20vh;
    max-height: 250px;
  }

  .back-button-text {
    display: none;
  }

  .sponsorship-back-button {
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
