.home-quiz {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 0.75rem;
}

.home-quiz-title {
  color: var(--primary-foreground);
}

.home-quiz-bg {
  position: absolute;
  inset: 0;
  background-image: url('/src/assets/home-bg.png');
  background-size: cover;
  background-position: right;
}

.home-quiz-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.home-quiz-content {
  position: relative;
  color: var(--primary-foreground);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
}

.home-quiz-text {
  font-style: italic;
}

.home-quiz-footer {
  position: relative;
}
