@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: #e9eeed;
  --foreground: #252525;
  --card: #e9eeed;
  --card-foreground: #252525;
  --popover: #e9eeed;
  --popover-foreground: #252525;
  --primary: #20544a;
  --primary-foreground: #e9eeed;
  --secondary: #e2704a;
  --secondary-foreground: #fcf1ed;
  --muted: #20544a;
  --muted-foreground: #e9eeed;
  --accent: #a4b9b5;
  --accent-foreground: #fcf1ed;
  --destructive: #da3b3b;
  --border: #e0e0e0;
  --input: #a4b9b5;
  --ring: #467169;
  --chart-1: #f54900;
  --chart-2: #009689;
  --chart-3: #2c7a8c;
  --chart-4: #f0c8a0;
  --chart-5: #e2704a;
  --sidebar: #e9eeed;
  --sidebar-foreground: #252525;
  --sidebar-primary: #20544a;
  --sidebar-primary-foreground: #e9eeed;
  --sidebar-accent: #a4b9b5;
  --sidebar-accent-foreground: #fcf1ed;
  --sidebar-border: #e0e0e0;
  --sidebar-ring: #467169;
}

.dark {
  --background: #163b34;
  --foreground: #e9eeed;
  --card: #14332d;
  --card-foreground: #e9eeed;
  --popover: #14332d;
  --popover-foreground: #e9eeed;
  --primary: #20544a;
  --primary-foreground: #e9eeed;
  --secondary: #9e4e34;
  --secondary-foreground: #fcf1ed;
  --muted: #14332d;
  --muted-foreground: #a4b9b5;
  --accent: #467169;
  --accent-foreground: #fcf1ed;
  --destructive: #e2704a;
  --border: #467169;
  --input: #467169;
  --ring: #467169;
  --chart-1: #f3c4b5;
  --chart-2: #7e9c96;
  --chart-3: #467169;
  --chart-4: #eeac96;
  --chart-5: #e78869;
  --sidebar: #14332d;
  --sidebar-foreground: #e9eeed;
  --sidebar-primary: #20544a;
  --sidebar-primary-foreground: #e9eeed;
  --sidebar-accent: #467169;
  --sidebar-accent-foreground: #fcf1ed;
  --sidebar-border: #467169;
  --sidebar-ring: #467169;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Montserrat', sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Montserrat Alternates', 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--primary);
  }

  h1 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 700;
  }

  p {
    font-size: 0.85rem;
    font-weight: 400;
  }

  a {
    font-size: 0.85rem;
    font-weight: 600;
  }
}
